#include "./.Xresources.d/Xft"
#include "./.Xresources.d/colors"
#include "./.Xresources.d/xterm"
#include "./.Xresources.d/rxvt-unicode"
#include "./.Xresources.d/rofi"
#include "./.Xresources.d/i3"
